<h1>餐廳後台</h1>
<h5>
  <a href="/admin/restaurants" style="text-decoration:none">Restaurants</a>&nbsp|&nbsp 
  <a href="/admin/users" style="text-decoration:none">Users</a>&nbsp|&nbsp
  <a href="/admin/categories" style="text-decoration:none">Categories</a>
</h5>
{{#if restaurants}}
{{> admin-homepage-restaurants}}
{{/if}}

{{#if users}}
{{> admin-homepage-users}}
{{/if}}

{{#if categories}}
{{> admin-homepage-categories}}
{{/if}}
