{{> admin-tab route='categories'}}
<form action="/admin/categories" method="POST">
  <input class="" type="text" name="name" placeholder="Category Name">
  <button type="sumbit" class="btn btn-primary">Create</button>
</form>
{{> admin-category-form}}