{{> admin-title}}
<br />
<br />
<form action="/admin/categories/" method="post">
  <input type="text" name="categoryName" placeholder="Category Name">
  <button type="submit" class="btn btn-success">Create</button>
</form>
{{> admin-category-table}}