<form action="/admin/restaurants" method="POST">
  <div class="mb-4 text-center">
    <h1 class="h3 font-weight-normal mb-3">Create Restaurant</h1>
  </div>
  {{!-- note 因和edit為相同的頁面，移動到partials --}}

  {{> admin-restaurant-form}}
</form>