<form action="/admin/restaurants" method="POST" enctype="multipart/form-data">
  <div class="mb-4 text-center">
    <h1 class="h3 font-weight-normal mb-3">Create Restaurant</h1>
  </div>
  {{!-- 中間段落刪去，移至 partial --}}
  {{> admin-restaurant-form}}
</form>