<form action="/admin/restaurants" method="POST">
  <div class="mb-4 text-center">
    <h1 class="h3 font-weight-normal mb-3">Create Restaurant</h1>
  </div>
  <div class="form-row mb-3">
    <label class="form-label" for="name">Name</label>
    <input class="form-control" type="text" name="name" id="name" placeholder="Enter name" required>
  </div>
  <div class="form-row mb-3">
    <label class="form-label" for="tel">Tel</label>
    <input class="form-control" type="text" name="tel" id="tel" placeholder="Enter tel">
  </div>
  <div class="form-row mb-3">
    <label class="form-label" for="address">Address</label>
    <input class="form-control" type="text" name="address" id="address" placeholder="Enter address">
  </div>
  <div class="form-row mb-3">
    <label class="form-label" for="openingHours">Opening Hours</label>
    <input class="form-control" type="time" name="openingHours" id="openingHours" placeholder="Enter opening hours">
  </div>
  <div class="form-row mb-3">
    <label class="form-label" for="description">Description</label>
    <textarea class="form-control" id="description" name="description" rows="3"></textarea>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>