<form action="/admin/users/{{user.id}}?_method=PATCH" method="POST">
  <div class="mb-4 text-center">
    <h1 class="h3 font-weight-normal mb-3">Edit User Account</h1>
  </div>
  {{> admin-user-form}}
</form>