{{> admin-title}}
<br />
<br />
<form action="/admin/categories/:id" method="post">
  <input type="text" name="categoryName" placeholder="Category Name"
  value="{{ category.name }}">
  <button type="submit" class="btn btn-warning">Update</button>
  <a href="/admin/categories"> or Create New </a>
</form>
{{> admin-category-table}}