<h1>餐廳後台</h1>

<ul class="nav">
  <li class="nav-item">
    <a class="nav-link" href="/admin/restaurants">Restaurants</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" href="#">|</a>
  </li>  
  <li class="nav-item">
    <a class="nav-link" href="/admin/users">Users</a>
  </li>
  
</ul>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Role</th>
      <th scope="col">#</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
      <td type="button" class="btn-link">Link</td>
    </tr>
  </tbody>
</table>