<h1>餐廳後台</h1>
<div class="option-container d-row my-3">
  <a href="/admin/restaurants" class="btn-link me-2">Restaurants</a>
  <span>|</span>
  <a href="/admin/users" class="btn-link ms-2">Users</a>
</div>

