<h1>餐廳後台</h1>
<nav class="nav mb-3">
  <div class="d-flex align-items-center">
    <a href="/admin/restaurants" class="nav-link px-1">Restaurants</a>
    <span>|</span>
    <a href="/admin/users" class="nav-link px-1">Users</a>
  </div>
</nav>