<h1>餐廳後台</h1>
<ul class="nav mb-2">
  <li class="nav-item">
    <a class="nav-link active px-0" aria-current="page" href="/admin/restaurants">Restaurants</a>
  </li>
  <li class="nav-item px-2 d-flex align-items-center">|</li>
  <li class="nav-item">
    <a class="nav-link px-0" href="/admin/users">Users</a>
  </li>
</ul>