<h1>餐廳後台</h1>
<div class="mb-3">
  <ul class="nav nav-tabs">
    <table>
      <tr>
        <td style='border-right:1px solid gray'>
          <li class="nav-item">
            <a class="nav-link" href="/admin/restaurants">Restaurants</a>
          </li>
        </td>
        <td>
          <li class="nav-item">
            <a class="nav-link" href="/admin/users">Users</a>
          </li>
        </td>
      </tr>
    </table>
  </ul>
</div>