<h1>餐廳後台</h1>
<ul class="nav nav-tabs mt-4">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href='/admin/restaurants'>
      Restaurants
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" aria-current="page" href='/admin/users'>
      Users
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" aria-current="page" href='/admin/categories'>
      Categories
    </a>
  </li>
</ul>