<h1>餐廳後台</h1>
<ul class="nav nav-tabs d-flex align-items-center ">
  <li class="nav-item">
    <a class="nav-link ps-0" href="/admin/restaurants">Restaurants</a>
  </li>
  <span>|</span>
  <li class="nav-item">
    <a class="nav-link" href="/admin/users">Users</a>
  </li>
</ul>
<br>