<h1>餐廳後台</h1>
<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link" href="/admin/restaurants">Restaurant</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/admin/users">User</a>
  </li>
</ul>