<h1>餐廳後台</h1>
<nav class="nav mb-5 d-flex align-items-baseline">
  <a class="nav-link" href="/admin/restaurants">Restaurants</a>
  <span>|</span>
  <a class="nav-link" href="/admin/users">Users</a>
</nav>