
<h1>餐廳後台</h1>

<ul class="nav nav-tabs mb-3">
  <li class="nav-item">
    <a class="nav-link{{#if restaurants}} active{{/if}}"{{#if restaurants}} aria-current="page"{{/if}} href="/admin/restaurants">Restaurants</a>
  </li>
  <li class="nav-item">
    <a class="nav-link{{#if users}} active{{/if}}"{{#if users}} aria-current="page"{{/if}} href="/admin/users">Users</a>
  </li>
</ul>

