<div>
  <ul class="nav d-flex">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="/admin/restaurants">Restaurants</a>
    </li>
    <p class="mt-2">|</p>
    <li class="nav-item">
      <a class="nav-link" href="/admin/users">Users</a>
    </li>
    <p class="mt-2">|</p>
    <li class="nav-item">
      <a class="nav-link" href="/admin/categories">Categories</a>
    </li>
  </ul>
</div>