<h1>餐廳後台</h1>
<nav class="nav d-flex align-items-center mb-3">
  <a class="nav-link ps-0" href="/admin/restaurants">Restaurants</a>
  <span>|</span>
  <a class="nav-link" href="/admin/users">Users</a>
</nav>