<div class='mb-4'>
  <h1>餐廳後台</h1>
  <a href='/admin/restaurants' class='text-decoration-none'>Restaurants</a>
  <span> | </span>
  <a href='/admin/users' class='text-decoration-none'>Users</a>
</div>