<ul class="nav nav-tabs my-4">
  <li class="nav-item">
    <a class="nav-link" aria-current="page" href="/admin/restaurants">Restaurants</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/admin/users">Users</a>
  </li>
</ul>