<h1>餐廳後台</h1>
<ul class="nav nav-tabs my-4">
  <li class="nav-item">
    <a class="nav-link {{#ifCond route 'restaurants'}}active{{/ifCond}}" href="/admin/restaurants">Restaurants</a>
  </li>
  <li class="nav-item">
    <a class="nav-link {{#ifCond route 'users'}}active{{/ifCond}}" href="/admin/users">Users</a>
  </li>
  <li class="nav-item">
    <a class="nav-link {{#ifCond route 'categories'}}active{{/ifCond}}" href="/admin/categories">Categories</a>
  </li>
</ul>
<div class="d-flex align-items-center pt-3 pb-5 my-3 text-white-50 bg-purple">
  <form class="row" action="/admin/categories" method="POST">
    <div class="col-auto">
      <input class="form-control" type="text" placeholder="Category Name" name="name">
    </div>
    <div class="col-auto">
      <button class="btn btn-success" type="submit">Create</button>
    </div>
  </form>
</div>