<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link" aria-current="page" href="/admin/restaurants">餐廳列表</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="/admin/users">使用者列表</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="/admin/categories">類別列表</a>
  </li>
  
</ul>