<h1>餐廳後台</h1>
<nav class="mb-2">
  <div class="nav">
    <a class="nav-link ps-0" href="/admin/restaurants">Restaurants</a>
    <span class="nav-text align-self-center">|</span>
    <a class="nav-link" href="/admin/users">Users</a>
  </div>
</nav>