<h1>餐廳後台</h1>
<ul class="nav align-items-center">
  <li class="nav-item">
    <a class="nav-link active text-start px-0" href="/admin/restaurants">Restaurants</a>
  </li>
  <span class="px-3">|</span>
  <li class="nav-item">
    <a class="nav-link text-start px-0" href="/admin/users">Users</a>
  </li>
</ul>