<h1>餐廳後台</h1>
<nav class="nav mb-5">
  <a class="nav-link active" aria-current="page" href="/admin/restaurants">Restaurants</a>
  <span class="mt-2">|</span>
  <a class="nav-link" href="/admin/users">Users</a>
</nav>