<h1>餐廳後台</h1>
<ul class="nav justify-content-center">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="/admin/restaurants">Restaurants</a>
  </li>
  <p class="my-auto">|</p>
  <li class="nav-item">
    <a class="nav-link" href="/admin/users">Users</a>
  </li>
</ul>