<h1>餐廳後台</h1>
<ul class="nav mb-3">
  <li class="nav-item ">
    <a class="nav-link active ps-0 py-0 border-end" aria-current="page" href="/admin/restaurants">Restaurants</a>
  </li>
  <li class="nav-item">
    <a class="nav-link py-0 " href="/admin/users">Users</a>
  </li>
</ul>