<div class="my-3 fw-bold">
  <h1>餐廳後台</h1>
  <a href="/admin/restaurants" class="text-decoration-none">Restaurants</a>
  <span> | </span>
  <a href="/admin/users" class="text-decoration-none">Users</a>
</div>
