<h2>餐廳後台</h2>
<ul class="nav">
  <li class="nav-item">
    <a class="nav-link" href="/admin/restaurants">Restaurants</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/admin/users">Users</a>
  </li>
</ul>