<ul class="nav nav-tabs mt-5 mb-4">
  <li class="nav-item">
    <a class="nav-link {{#ifCond route 'restaurants'}}active{{/ifCond}}" href="/admin/restaurants">餐廳</a>
  </li>
  <li class="nav-item">
    <a class="nav-link {{#ifCond route 'users'}}active{{/ifCond}}" href="/admin/users">使用者</a>
  </li>
</ul>