<footer class="footer mt-auto py-3 bg-light">
  <div class="container text-center">
    <span class="text-muted">© 2017-{{ currentYear }}</span>
  </div>
</footer>

{{!-- 變數 currentYear，並用雙花括號夾住，這是 Handlebars 引入自定義 helper 的方式 --}}