<ul class="nav nav-tabs mb-3">
  <li class="nav-item">
    <a href="/admin/restaurants" class="nav-link {{#ifCond route 'restaurants'}}active{{/ifCond}}">Restaurants</a>
  </li>
  <li class="nav-item">
    <a href="/admin/users" class="nav-link {{#ifCond route 'users'}}active{{/ifCond}}" >Users</a>
  </li>
  <li class="nav-item">
    <a href="/admin/categories" class="nav-link {{#ifCond route 'categories'}}active{{/ifCond}}">Categories</a>
  </li>
</ul>
