<ul class="nav nav-tabs mb-4">
  <li class="nav-item">
    <a class="nav-link {{#if_isMatch route 'index'}}active{{/if_isMatch}}" href="/restaurants">首頁</a>
  </li>
  <li class="nav-item">
    <a class="nav-link {{#if_isMatch route 'feeds'}}active{{/if_isMatch}}" href="/restaurants/feeds">最新動態</a>
  </li>
  <li class="nav-item">
    <a class="nav-link {{#if_isMatch route 'topUsers'}}active{{/if_isMatch}}" href="/users/top">美食達人</a>
  </li>
  <li class="nav-item">
    <a class="nav-link {{#if_isMatch route 'topRestaurants'}}active{{/if_isMatch}}" href="/restaurants/top">Top 10 人氣餐廳</a>
  </li>
</ul>