<ul class="nav nav-tabs mb-4">
  <li class="nav-item">
    <a class="nav-link {{#ifEqual route 'index'}}active{{/ifEqual}}" href="/restaurants">首頁</a>
  </li>
  <li class="nav-item">
    <a class="nav-link {{#ifEqual route 'feeds'}}active{{/ifEqual}}" href="/restaurants/feeds">最新動態</a>
  </li>
  <li class="nav-item">
    <a class="nav-link {{#ifEqual route 'topUsers'}}active{{/ifEqual}}" href="/users/top">美食達人</a>
  </li>
</ul>