
<ul class="nav nav-tabs mb-4">
  <li class="nav-item">
    <a href="/restaurants" class="nav-link {{#ifCond route 'index'}}active{{/ifCond}}">首頁</a>
  </li>
  <li class="nav-item">
    <a href="/restaurants/feeds" class="nav-link {{#ifCond route 'feeds'}}active{{/ifCond}}">最新動態</a>
  </li>
  <li class="nav-item">
    <a href="/users/top" class="nav-link {{#ifCond route 'topUsers'}}active{{/ifCond}}">美食達人</a>
  </li>
  <li class="nav-item">
    <a href="/restaurants/top" class="nav-link {{#ifCond route 'topRestaurants'}}active{{/ifCond}}">Top 10 人氣餐廳</a>
  </li>
</ul>