<h1>餐廳後台</h1>
<ul class="nav nav-pills">
  <li class="nav-item">
    <a href='/admin/restaurants' style="text-decoration:none;">
      <button type="button" class="btn btn-link" style="text-decoration:none;">Restaurants</button>
    </a>
  </li>
  <p class="my-auto" style="display:inline">|</p>
  <li class="nav-item">
    <a href='/admin/users' style="text-decoration:none;">
      <button type="button" class="btn btn-link" style="text-decoration:none;">Users</button>
    </a>
  </li>