<h1>餐廳後台</h1>
<ul class="nav nav-tabs my-2">
  <li class="nav-item">
    <a
      class="nav-link {{#isSame  route 'restaurants'}}active fw-bolder{{/isSame}}"
      href="/admin/restaurants"
    >Restaurants</a>
  </li>
  <li class="nav-item">
    <a class="nav-link {{#isSame  route 'users'}}active fw-bolder{{/isSame}}" href="/admin/users">Users</a>
  </li>
  <li class="nav-item">
    <a class="nav-link {{#isSame  route 'categories'}}active fw-bolder{{/isSame}}" href="/admin/categories">Categories</a>
  </li>
</ul>