<div class="row">
  <div class="col-md-12">
    <h1>{{restaurant.name}}</h1>
    <h5>[ {{restaurant.Category.name}} ]</h5>
  </div>
</div>
<hr>
<ul class="mt-1 mb-5">
    <li><p>瀏覽次數：{{restaurant.viewCounts}}</p></li>
    <li><p>評論數：</p></li>
    <li><p>收藏數：</p></li>
</ul>
<a class="btn btn-outline-secondary" href="javascript:history.back()">Back</a>