<div class="row mb-5">
  <div class="container col-md-12">
    <h1>{{restaurant.name}}</h1>
    <p>[{{restaurant.Category.name}}]</p>
    <hr>
    <ul>
      <li class="my-1">
        瀏覽次數: <span>{{restaurant.viewCounts}}</span>
      </li>
      <li class="my-1">
        評論數: <span>--</span>
      <li>
        收藏數: <span>--</span>
      </li class="my-1">
    </ul>

  </div>

</div>
<a class="btn btn-outline-secondary" href="javascript:history.back()">Back</a>