<div class="row mb-5">
  <div class="col-md-12">
    <h1>{{restaurant.name}}</h1>
    <p>[{{restaurant.Category.name}}]</p>
  </div>
  <div class="col-md-4">
    <img class="img-responsive center-block mb-5" src="{{restaurant.image}}"
      style="width: 100px; transition: opacity 0.5s; opacity:0;" onload="this.style.opacity=1;">
  </div>
  <ul>
    <li>評論數:</li>
    <li>瀏覽次數:{{restaurant.viewCounts}}</li>
    <li>收藏數:</li>
  </ul>
  <a class="btn btn-outline-secondary" href="javascript:history.back()">Back</a>