<div class="row mb-5">
  <div class="col-md-12">
    <h1><strong>{{restaurant.name}}</strong></h1>
    <p><strong>[{{restaurant.Category.name}}]</strong></p>
  </div>
  <div class="well">
    <ul class="list-unstyled">
      <li><strong>瀏覽次數：{{restaurant.viewCounts}}</strong></li>
      <li><strong>評論數：</strong></li>
      <li><strong>收藏數：</strong></li>
    </ul>
    <br>
    <br>
    <a class="row" href="javascript:history.back()">回上一頁</a>
  </div>
</div>