{{>restaurant-tab}}
<hr>
<ul>
  <li>評論數:{{restaurant.Comments.length}} </li>
  <li>瀏覽次數:{{restaurant.view_counts}} </li>
  <li>收藏數:-</li>
</ul>

<a class="btn btn-outline-secondary" href="javascript:history.back()">Back</a>

