<div class="row">
  <div class="col-md-12">
    <h1>{{restaurant.name}}</h1>
    <p>{{restaurant.Category.name}}</p>
  </div>
  <div class="col-md-4">
    <br>
    <div class="well">
      <ul class="list-unstyled">
        <li>瀏覽次數: {{restaurant.viewCounts}}</li>
        <li>評論數: </li>
        <li>收藏數: </li>
      </ul>
    </div>
  </div>
  <hr>
</div>
<a class="btn btn-outline-secondary" href="javascript:history.back()">Back</a>