<div class="row">
  <div class="col-md-12">
    <h1>{{restaurant.name}}</h1>
    <p>[{{restaurant.Category.name}}]</p>
  </div>
  <hr>
  <div class="col-md-12">
    <div class="well">
      <ul class="">
        <li>瀏覽次數：{{restaurant.viewCounts}}</li>
        <li>評論次數：{{restaurant.commentsCount}}</li>
        <li>收藏數：</li>
      </ul>
    </div>
  </div>
  <hr>
</div>
<a class="btn btn-outline-secondary" href="javascript:history.back()">Back</a>
