<div class="row mb-5">
  <div class="col-md-12">
    <h1>{{restaurant.name}}</h1>
    <p>[{{restaurant.Category.name}}]</p>
  </div>
  <hr>
<ul>
  <li>
    <p>瀏覽次數：{{restaurant.viewCounts}}</p>
  </li>
  <li>
    <p>評論數：-</p>
  </li>
  <li>
    <p>收藏數：-</p>
  </li>
</ul>
<a href="javascript:history.back()">回上一頁</a>