<div class="row">
  <div class="col-md-12">
    <h1>{{restaurant.name}}</h1>
    <p>{{restaurant.Category.name}}</p>
  </div>
  <hr>
  <div class="col-md-4">  
    <br>
    <div class="well">
      <ul class="list-unstyled">
        <li><strong>Views:</strong> {{restaurant.viewCounts}}</li>
        <li><strong>Comments:</strong></li>
        <li><strong>Likes:</strong></li>
      </ul>
    </div>
  </div>
  <hr>
</div>
<a class="btn btn-outline-secondary" href="javascript:history.back()">Back</a>