<div class="row mb-5">
  <div class="col-md-12">
    <h1>{{restaurant.name}}</h1>
    <p>[{{restaurant.Category.name}}]</p>
  </div>
  <hr>
  <ul class="ms-5 mt-5">
    <li>瀏覽次數：{{restaurant.viewCounts}}</li>
    <li>評論次數：{{commentCounts}} </li>
    <li>收藏次數：- </li>
  </ul>
</div>
<hr>
<a class="btn btn-outline-secondary" href="javascript:history.back()">Back</a>
