<div class="row mb-5">
  <div class="col-md-12">
    <h1>{{restaurant.name}}</h1>
    <p>[{{restaurant.Category.name}}]</p>
  </div>
  <hr>
  <div class="col-md-4">
    <div class="well">
      <ul class="list">
        <li><strong>瀏覽次數:</strong>{{restaurant.view_counts}}</li>
        <li><strong>評論數:</strong>{{commentCounts}}</li>
        <li><strong>收藏數:</strong></li>
      </ul>
    </div>
  </div>
  <a href="javascript:history.back()">回上一頁</a>