<div class="row mb-5">
  {{> restaurant-header}}

  <hr class="mt-3">
  <ul>
    <li>瀏覽次數：{{restaurant.viewCounts}}</li>
    <li>評論數：{{commentCounts}}</li>
    <li>收藏數：{{favoritesCounts}}</li>
  </ul>
</div>

<a class="btn btn-outline-secondary" href="javascript:history.back()">Back</a>