<div class="row mb-3">
  <div class="col-md-12">
    <h1>{{restaurant.name}}</h1>
    <p class="badge bg-secondary">{{restaurant.Category.name}}</p>
  </div>
  <hr>
  <ul>
    <li>評論數：{{restaurant.commentCounts}}</li>
    <li>收藏數：</li>
    <li>瀏覽次數：{{restaurant.viewCounts}}</li>
  </ul>
</div>
<a class="btn btn-outline-secondary" href="javascript:history.back()">Back</a>