<div>
  <h1>{{restaurant.name}}</h1>
  <p>{{restaurant.Category.name}}</p>
</div>
<ui>
  <li>評論數：{{restaurant.Comments.length}}</li>
  <li>瀏覽次數：{{restaurant.viewCount}}</li>
  <li>收藏數：-</li>
</ui>

<a href="javascript:history.back()">回上一頁</a>