<div class="pt-5">
  <h1>Dixie Pfannerstill</h1>
  <h1>{{restaurant.name}}</h1>
  <p>[{{restaurant.Category.name}}]</p>
  <hr />

  <ul class="list-group list-group-flush">
    <li class="list-group-item">瀏覽次數 : {{restaurant.viewCounts}}</li>
    <li class="list-group-item">評論數 : </li>
    <li class="list-group-item">收藏數 : </li>
  </ul>

  <a class="btn btn-outline-secondary" href="javascript:history.back()">Back</a>
  
</div>