<div class="row mb-2">
  <div class="col-md-12">
    <h1>{{restaurant.name}}</h1>
    <p>[{{restaurant.Category.name}}]</p>
  </div>
  <hr>
  <ul class="list-group ms-5">
    <li>瀏覽次數 : {{restaurant.viewCounts}}</li>
    <li>評論數 : {{restaurant.Comments.length}} </li>
    <li>收藏數 : - </li>
  </ul>
</div>
<a class="btn btn-link link-primary" href="javascript:history.back()">回上一頁</a>