{{>restaurant-form}}
<div class="row mb-5">
  <div class="col-md-4">
    <ul class="list">
      <li><strong>View Count:</strong> {{restaurant.viewCounts}}</li>
      <li><strong>Comment Count:</strong> -</li>
      <li><strong>Save Count:</strong> -</li>
    </ul>
  </div>
</div>
<a class="btn btn-outline-secondary" href="javascript:history.back()">Back</a>