<div class="row">
  <div class="col-12">
    <h1>{{restaurant.name}}</h1>
    <p>[{{restaurant.Category.name}}]</p>
    <hr />
  </div>

  <div class="col-12">
    <ul>
      <li>評論數: {{restaurant.Comments.length}}</li>
      <li>瀏覽次數: {{restaurant.viewCounts}}</li>
      <li>收藏次數: </li>
    </ul>
  </div>
  <div class="col-12">
    <button class="btn btn-primary" onclick="history.back()" type="submit">Back</button>
  </div>
</div>