<div class="row mb-5">
  <div class="col-md-12">
    <h1>{{restaurant.name}}</h1>
    <p>[{{restaurant.Category.name}}]</p>
  </div>
  <hr/>
  <div>
    <ul>
      <li>瀏覽次數: {{ restaurant.viewCounts }} </li>
      <li>評論次數: - </li>
      <li>收藏數: - </li>
    </ul>
    <a href="javascript:history.back()"> 回上一頁 </a>
  </div>
</div>