<div class="row mb-3">
  <div class="col-md-12">
    <h1>{{restaurant.name}}</h1>
    <p>[{{restaurant.Category.name}}]</p>
  </div>
  <div class="col-md-4">
    <p>。瀏覽次數: {{restaurant.viewCounts}}</p>
    <p>。評論數: -</p>
    <p>。收藏數: -</p>
    <hr>
  </div>
</div>
<a class="btn btn-outline-secondary" href="javascript:history.back()">回上一頁</a>