<div class="row mb-5">
  <div class="col-md-12">
    <h1>{{restaurant.name}}</h1>
    <p>[{{restaurant.Category.name}}]</p>
  </div>
  <hr>
  <div class="col-md-4">
    <div class="well">
      <ol class="list-unstyled">
        <li>瀏覽次數:{{restaurant.viewCounts}}</li>
        <li>評論數:{{restaurant.Comments.length}}</li>
      </ol>
    </div>
  </div>
</div>
<a class="btn btn-outline-secondary" href="javascript:history.back()">Back</a>