<div class='row'>
  <div class='col-md-12'>
    <h1>{{restaurant.name}}</h1>
    <p>[{{restaurant.Category.name}}]</p>
  </div>
  <hr />
  <div class='col-md-12'>
    <ul>
      <li>瀏覽次數：{{restaurant.viewCounts}}</li>
    </ul>
  </div>
</div>
<a href='javascript:history.back()'>回上一頁</a>