<div class="row mb-5">
  <div class="col-md-12">
    <h1>{{restaurant.name}}</h1>
    <p>[{{restaurant.Category.name}}]</p>
  </div>
        <ul class="list">
        <li><strong>瀏覽次數:</strong>{{restaurant.viewCounts}}</li>
        <li><strong>評論次數:</strong>{{restaurant.Comments.length}}</li>
        <li><strong>收藏數:</strong> -</li>
      </ul>
  <a class="btn btn-outline-secondary" href="javascript:history.back()">Back</a>
</div>