<div class="row mb-5">
  {{>restaurant-header}}
  <ul>
    <li>views: {{restaurant.viewCounts}}</li>
    <li>comments: {{restaurant.Comments.length}}</li>
    <li>favorites: --</li>
  </ul>
</div>
<a class="btn btn-outline-secondary" href="javascript:history.back()">Back</a>