<div class="row mb-2">
  <div class="col-md-12">
    <h1>{{restaurant.name}}</h1>
    <p>[{{restaurant.Category.name}}]</p>
  </div>
  <hr>
</div>
<div class="col-md-12">
  <ul>
    <li>瀏覽次數：
      <span>{{restaurant.viewCounts}}</span>
    </li>
    <li>評論數：
      <span>-</span>
    </li>
    <li>收藏數：
      <span>-</span>
    </li>
  </ul>
</div>

<a class="btn btn-outline-secondary" href="javascript:history.back()">Back</a>