<div class="row">
  <div class="col-md-12">
    <h1>{{restaurant.name}}'s Dashboard</h1>
    <p class="text-secondary">
      <strong>{{restaurant.Category.name}}</strong>
    </p>
  </div>
  <div class="col-md-12 mt-3 mb-4">
    <ul class="list-group">
      <li class="list-group-item">瀏覽次數：{{restaurant.viewCounts}}</li>
      <li class="list-group-item">評論數：--</li>
      <li class="list-group-item">收藏數：--</li>
    </ul>
  </div>
</div>
<a class="btn btn-secondary" href="javascript:history.back()">Back</a>