<div class="row mb-5">
  <div class="col-md-12">
    <h1>{{restaurant.name}}</h1>
    <p>[{{restaurant.Category.name}}]</p>
  </div>
  <div class="col-md-4">
    <div class="well">
      <ul class="list-unstyled">
        <li><strong>瀏覽次數：</strong> {{restaurant.viewCount}}</li>
      </ul>
    </div>
  </div>
  <a href="javascript:history.back()">回到上一頁</a>
  <hr>
</div>