<div class="row mb-5">
  <div class="col-md-12">
    <h1>{{restaurant.name}}</h1>
    <p>[{{restaurant.Category.name}}]</p>
  </div>
  
  <hr>
  <div class="col-md-12">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">瀏覽次數: {{restaurant.viewCount}}</li>
      <li class="list-group-item">評論數: -</li>
      <li class="list-group-item">收藏數: -</li>
    </ul>
  </div>
</div>
<a class="btn btn-outline-secondary" href="javascript:history.back()">上一頁</a>