<div class="mb-4 text-center">
  <h1 class="h3 font-weight-normal mb-3">Profile</h1>
</div>
<form action="/users/{{users.id}}?_method=PUT" method="POST" enctype="multipart/form-data" style="width: 100%;">
  {{>userInfo-form}}
</form>
  <button class="btn btn-primary btn-block" type="submit">Submit</button>
  <a class="btn btn-outline-secondary" href="javascript:history.back()">Back</a>
