<h1>餐廳前台</h1>
{{!-- <a href='/admin/restaurants/create'>
  <button type="button" class="btn btn-primary">New Restaurant</button>
</a> --}}
<br />
<br />
<table class="table align-middle">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    {{#each restaurants}}
    <tr>
      <th scope="row">{{this.id}}</th>
      <td>{{this.name}}</td>
      <td>

      </td>
    </tr>
    {{/each}}
  </tbody>
</table>