<h3>Edit </h3>
<br>
<br>
<form action="/users/{{user.id}}?_method=PUT" method="POST" enctype="multipart/form-data">
  <div class="form-group">
    <label for="image">Edit Personal Image</label>
    <input type="file" class="form-control-file" id="image" name="image" value="">
  </div>
  <div class="form-group">
    <label for="userName">Call me...</label>
    <input type="text" class="form-control" name="name" id="userName" placeholder="Enter username" value="{{user.name}}">
  </div>

  <div class="form-group">
    <label for="description">Description</label>
    <textarea class="form-control" id="description" name="description" rows="3">{{user.description}}</textarea>
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>
<br>
<a href="javascript:history.back()">回上一頁</a>
