<div class="row m-3" style="border:1px solid lightgray;">
  <div class="col-md-12">
  </div>
  {{!-- 大頭照 --}}
  <div class="col-md-6 mt-3">
    <img class="img-responsive center-block mb-5" src="{{user.dataValues.image}}"
      style="width: 250px; transition: opacity 0.5s; opacity:0;" onload="this.style.opacity=1;">
  </div>
  {{!-- 姓名與編輯按鈕 --}}
  <div class="col-md-6 mt-3">
    <h1><strong>{{user.dataValues.name}}</strong></h1>
    <h2>{{user.dataValues.email}}</h2>
    <button type="button" class="btn mt-5">
      <a class="btn btn-primary" href="/users/{{user.dataValues.id}}/edit">
        edit
      </a>
    </button>
  </div>
</div>