.for-dummies {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(204, 232, 207);
  width: 500px;
  height: 500px;
  font-size: 32px;
  text-align: center;
  /* 移除超連結底線（套用在 a 標籤） */
  text-decoration: none;
}

html,body{
  margin: 0;
  padding: 0;
}

.thead-dark {
  color: aliceblue;
  background-color: rgb(57, 55, 55);
}

.without-underline {
  text-decoration: none;
}

.white-block{
  padding:10px;
  min-width: 80%;
  background-color: white;
}

.gray-block {
  padding: 20px;
  min-width: 80%;
  background-color: rgb(233, 232, 232);
}

.fa-solid {
  font-size: 128px;
}

.fa-solid-small{
  font-size: 25px;
}