<form class="form-signin" action="/users/{{user.id}}?_method=PUT" method="POST" enctype="multipart/form-data">
  <div class=" form-row mb-3">
    <label class="form-label" for="name">Name</label>
    <input class="form-control" id="name" type="text" name="name" class="form-control" value="{{user.name}}" autofocus>
  </div>
  <div class="form-row mb-3">
    <label class="form-label" for="image">Image</label>
    <input class="form-control" type="file" class="form-control-file" id="image" name="image">
  </div>
  <button class="btn btn-primary btn-block" type="submit">Submit</button>
  <a class="btn btn-outline-secondary" href="javascript:history.back()">Back</a>
</form>