<form action="/users/{{user.id}}?_method=PUT" method="POST" enctype="multipart/form-data">

  <div class="form-row mb-3">
    <label class="form-label" for="name">Name</label>
    <input class="form-control" type="text" name="name" id="name" placeholder="Enter name" value="{{user.name}}" required>
  </div>

  <div class="form-row mb-3">
    <label class="form-label" for="image">Avatar</label>
    <input class="form-control" type="file" class="form-control-file" id="image" name="image">
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>
<div class="mb-4 text-center">
  <p><a href="javascript:history.back()">Back</a></p>
</div>