<form action="/users/{{user.id}}?_method=PUT" method="POST" enctype="multipart/form-data">
  <div class="form-row mb-3">
    <label class="form-label" for="name">Name</label>
    <input class="form-control" type="text" class="form-control" name="name" id="name" placeholder="Enter Name"
      value="{{user.name}}">
  </div>
  <div class="form-row mb-3">
    <label class="form-label" for="image">Image</label>
    <input class="form-control" type="file" class="form-control-file" name="image" id="image">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>