<form action="/users/{{user.id}}?_method=PUT" method="POST" enctype="multipart/form-data">
  <div class="form-row mb-3">
    <span>Name</span>
    <input class="form-control" type="text" placeholder="Name" name="name" value="{{user.name}}">
  </div>
  <div class="form-row mb-3">
    <label class="form-label" for="image">Image</label>
    <input class="form-control" type="file" class="form-control-file" id="image" name="image">
  </div>
  <button class="btn btn-primary" type="submit">Submit</button>
</form>