<form action="/users/{{user.id}}?_method=PUT" method="POST" enctype="multipart/form-data">
  <div class="form-row mb-3">
    <label class="form-label" for="name">Name</label>
    <input class="form-control" type="text" class="form-control-file" id="name" name="name" value="{{user.name}}">
  </div>
  <div class="form-row mb-3">
    <label class="form-label" for="avatar">Avatar</label>
    <input class="form-control" type="file" class="form-control-file" id="avatar" name="avatar">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>  