<h1>Edit user</h1>
<div class="d-flex flex-column">
  <form action="/users/{{user.id}}?_method=PUT" method="POST" enctype="multipart/form-data">
    <div class="form-row mb-3">
      <label class="form-label" for="name">Change Name</label>
      <input class="form-control" type="text" id="name" name="name" value="{{user.name}}">
    </div>
    <div class="form-row mb-3">
      <label class="form-label" for="email">Chang Email</label>
      <input class="form-control" type="text" name="email" id="email" value="{{user.email}}">
    </div>
    <div class="form-row mb-3">
      <label class="form-label" for="image">Image</label>
      <input class="form-control" type="file" class="form-control-file" id="image" name="image">
    </div>
      <button type="submit" class="btn btn-primary">Submit</button>
      <a class="btn btn-outline-secondary" href="javascript:history.back()">Back</a>
  </form>
</div>