<form action="/users/{{user.id}}?_method=PUT" method="post" enctype="multipart/form-data">
  <div class="form-row mb-3 col-3">
    <label class="form-label" for="name">Name</label>
    <input class="form-control" type="text" name="name" id="name" value="{{user.name}}" required>
  </div>
  <div class="form-row mb-3 col-3">
    <label class="form-label" for="image">Image</label>
    <input class="form-control" type="file" class="form-control-file" id="image" name="image">
  </div>
  <a href="javascript:history.back()" class="btn btn-outline-secondary" style="
    margin-right: 20px">Back</a>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>