<form action="/users/{{user.id}}?_method=PUT" method="POST" enctype="multipart/form-data">
  <div class="form-row mb-3">
  	<label class="form-label" for="name">Email</label>
  	<input class="form-control" type="text" name="Email" id="Email" value="{{user.email}}" 
    required>
	</div>
	<div class="form-row mb-3">
  	<label class="form-label" for="image">Image</label>
  	<input class="form-control" type="file" class="form-control-file" id="image" name="image">
	</div>
	
	<button type="submit" class="btn btn-primary" onclick="return confirm(`確定要編輯{{this.name}}的資料嗎?`)">Submit</button>
	
</form>