<div class="row mb-5" style="background-color: white; border-radius: 10px;" >
  <div class="col-md-4">
    <img class="img-responsive center-block mb-5" src="https://th.bing.com/th/id/R.31b46bcf5e137dc45ba15119392d231c?rik=cL65%2bjYa8VCT8w&riu=http%3a%2f%2fimages4.fanpop.com%2fimage%2fphotos%2f22200000%2fThe-letter-D-the-letter-d-22215873-2560-2560.jpg&ehk=9A4a362CUvHFvekGL9FPob3O5wTi76%2bBWjQAEXGWRSA%3d&risl=&pid=ImgRaw&r=0"
      style="width: 250px; transition: opacity 0.5s; border-radius: 50%; opacity:0;" onload="this.style.opacity=1;">
  </div>
  <div class="col-md-8 mt-3">
    <p style="white-space: break-spaces;">{{user.name}}</p>
    <p style="white-space: break-spaces;">{{user.email}}</p>
    <button class="btn btn-primary" type="button">
      <a class="btn btn-primary" href="/users/{{user.id}}/edit">Edit</a>
    </button>
  </div>
</div>