<div class="row">
    <div class="col-md-4 text-center">
        <img src="{{user.image}}https://loremflickr.com/g/320/240/girl/?random=${Math.random() * 100}" alt="avatar" style="border-radius: 50%">
    </div>
    <div class="col-md-8">
        <h2>{{user.name}}</h2>
        <h3>{{user.email}}</h3>
        <a class="btn  btn-primary" href="/users/{{user.id}}/edit">Edit</a>
    </div>
</div>