<div class="card">
  <div class="d-flex">
    <img src="{{user.image}}" class="card-img-top" style="width: 15rem" alt="avatar">
    <div class="card-body">
      <h5 class="card-title">{{user.name}}</h5>
      <p class="card-text">E-mail: {{user.email}}</p>
      <a href="/users/{{user.id}}/edit" class="btn btn-primary">edit</a>
    </div>
  </div>
</div>