  <div class="card mb-3">
    <div class="row g-0">
      <div class="col-md-4 w-25 p-3">
        <img class="img-responsive center-block" src="{{user.image}}"
          style="width: 250px; margin-bottom: 25px; transition: opacity 0.5s; opacity:0;" onload="this.style.opacity=1;">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">{{user.name}}</h5>
          <p class="card-text">{{user.email}}</p>
          <a href="/users/{{user.id}}/edit" class="btn btn-primary">Edit</a>
        </div>
      </div>
    </div>
  </div>
