<div class="container d-flex bg-white border p-4">
  <div >
    <img src="{{ user.image }}" alt="">
  </div>
  <div class="ms-5">
    <ul class="list-unstyled">
      <li>{{ user.name }}</li>
      <li>{{ user.email }}</li>
      {{#ifCond user.id id}}
      <li class="mt-3">
        <a href="/users/{{ id }}/edit" class="btn btn-primary">edit</a>
      </li>
      {{/ifCond}}
    </ul>
  </div>
</div>