<div class="row mb-5">
  <div class="card mb-3 col-md-12">
    <div class="row g-0">
      <div class="col-md-3">
        <img src="{{user.image}}" class="img-fluid rounded-circle" alt="..." style="width: 300px; height:300px; transition: opacity 0.5s; opacity:0;" onload="this.style.opacity=1;">
      </div>
      <div class="col-md-9">
        <div class="card-body">
          <h5 class="card-title">{{user.name}}</h5>
          <p class="card-text">{{user.email}}</p>
          <a href="/users/{{user.id}}/edit" class="btn btn-primary">Edit</a>
        </div>
      </div>
    </div>
  </div>
</div>