<div class="mb-4 text-center">
  <h1 class="h3 font-weight-normal mb-3">Profile</h1>
</div>
<div class="col-md-4">
  <img class="img-responsive center-block" src="{{user.image}}"
    style="width: 500px; margin-bottom: 25px; transition: opacity 0.5s; opacity:0;" onload="this.style.opacity=1;">
  <br>
  <div class="well">
    <ul class="list-unstyled">
      <li><strong>Name: </strong>{{user.name}}</li>
    </ul>
    <ul class="list-unstyled">
      <li><strong>Email: </strong>{{user.email}}</li>
    </ul>
  </div>
</div>
<a class="btn btn-outline-secondary" href="/users/{{user.id}}/edit">Edit</a>