<div class="card d-flex flex-row w-100" style="height: 250px;">
  <img src="{{user.image}}" class="card-img-top w-25" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{user.name}}</h5>
    <p class="card-text">{{user.email}}
    </p>
    <a href="/users/{{user.id}}/edit" class="btn btn-primary">edit</a>
  </div>
</div>