<div class="card mb-3 mx-auto" style="max-width: 80%;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="{{user.image}}" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">

        <h5>{{user.name}}</h5>
        <p>{{user.email}}</p>
				{{#ifCond UserId user_id}}
        <a href="/users/{{user.id}}/edit" class="btn btn-primary">edit</a>
				{{/ifCond}}

      </div>
			<div class="card-footer">
				<!-- commented restaurants -->
			</div>
    </div>
  </div>
</div>