<div class="row">
    <div class="col-md-6 text-center">
        <img class="img-responsive center-block" src="{{user.image}}" alt="avatar" style="border-radius: 50%; width: 350px; margin-bottom: 25px; transition: opacity 0.5s; opacity:0;" onload="this.style.opacity=1;">
    </div>
    <div class="col-md-6">
        <h2>{{user.name}}</h2>
        <h3>{{user.email}}</h3>
        <a class="btn  btn-primary" href="/users/{{user.id}}/edit">Edit</a>
    </div>
</div>