<div class="user-profile bg-white d-flex">
  <img class="img-responsive center-block" src="{{user.image}}" style="width: 300px; height:300px">
  <div class="ms-4">
    <h4 class="user-name mt-2"> {{user.name}}</h4>
    <p class="user-email">{{user.email}}</p>
    <a class="btn btn-primary mt-5" href="/users/{{user.id}}/edit" role="button">Edit</a>
  </div>
</div>