<img class="img-responsive center-block mb-5" src="{{user.image}}" style="width: 250px; transition: opacity 0.5s; opacity:0;" onload="this.style.opacity=1;">
<h3>{{user.name}}</h3>
<div>{{user.email}}</div>
<a class="btn btn-primary" href="/users/{{user.id}}/edit">Edit</a>