<div class="row row-cols-1 justify-content-around row-cols-md-2 bg-white border">
  <div class="col-md-4 mt-5">
    <img class="img-responsive center-block mb-5" src="{{user.image}}"
      style="width: 550px; transition: opacity 0.5s; opacity:0;" onload="this.style.opacity=1;">
  </div>
  <div class="col-md-4 mt-5">
    <p style="white-space: break-spaces;">{{user.name}}</p>
    <p style="white-space: break-spaces;">{{user.email}}</p>
    <a href='/users/{{user.id}}/edit'>
      <button type="button" class="btn btn-primary">Edit</button>
    </a>
  </div>