<div class="row">
  <div class="col-md-3">
    <img src="{{user.image}}" class="img-fluid rounded " alt="...">
  </div>
  <div class="col-md-9">
      <h5>{{user.name}}</h5>
      <p>{{user.email}}</p>
      <a href="/users/{{user.id}}/edit" class="btn btn-primary">edit</a>
    
  </div>
</div>

