<div class="row mb-3">
    <div class="col-md-4">
        <img class="img-responsive center-block" src="{{user.image}}"
            style="width: 250px; margin-bottom: 25px; transition: opacity 0.5s; opacity:0;"
            onload="this.style.opacity=1;">
    </div>
    <div class="col-md-8">
        <div class="well">
            <ul class="list-unstyled">
                <h1>{{user.name}}</h1>
                <p>{{user.email}}</p>
            </ul>
        </div>
        <div class="col-md-8 mb-3">
            <a class="btn btn-outline-primary" href="/users/{{user.id}}/edit">Edit</a>
        </div>
    </div>
</div>