<div class="row mb-2">

  <div class="col-md-5">
    <img class="img-responsive center-block mb-3" src="{{userOfPage.image}}"
      style="width: 250px; transition: opacity 0.5s; opacity:0;" onload="this.style.opacity=1;">
  </div>

  <div class="col-md-7">
    <ul class="list-unstyled">
      <li>
        <h5><strong>{{userOfPage.name}}</strong></h5>
      </li>
      <p></p>
      <li>{{userOfPage.email}}</li>
      <p></p>
    </ul>
    {{#ifCond userOfPage.id user.id }}
    <button type="button" class="btn btn-primary btn-sm">
      <a class="btn btn-primary btn-sm" href="/users/{{user.id}}/edit">
        Edit
      </a>
    </button>
    {{/ifCond }}
  </div>
  <p></p>
</div>