<div class="card mb-3" style="max-width: 1080px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="{{user.image}}" class="img-fluid rounded-start" alt="user-image">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h4 class="card-title fw-bold mb-3">{{user.name}}</h4>
        <h5 class="card-title mb-3">{{user.email}}</h5>
        <a href="/users/{{user.id}}/edit"><button type="button" class="btn btn-primary">edit</button></a>
      </div>
    </div>
  </div>
</div>