<div class="card w-100">
  <div class="card-body">
    <img src="{{user.image}}" alt="image" class="img-thumbnail">
    <h5 class="card-title">{{user.name}}</h5>
    <p class="card-text">{{user.email}}</p>
    <a href="/users/{{user.id}}/edit" class="btn btn-primary">edit</a>
  </div>
</div>