<div class="card mb-3" style="max-width: 800px;">
  <div class="row g-0">
    <div class="col-md-6">
      <img class="img-responsive center-block" src="{{ user.image }}"
        style="width: 360px; margin-bottom: 25px; transition: opacity 0.5s; opacity:0;" onload="this.style.opacity=1;">
    </div>

    <div class="col-md-6">
      <div class="card-body">
        <h5 class="card-title">{{ user.name }}</h5>
        <p class="card-text">{{ user.email }}</p>
        <a class="btn btn-primary" href="/users/{{ user.id }}/edit" role="button">Edit</a>
      </div>
    </div>
  </div>
</div>