<div class="card">
  <img class="card-img-left" src="..." alt="user profile">
  <div class="card-body">
    <h5 class="card-title">{{user.name}}</h5>
    <p class="card-text">{{user.email}}</p>
    <a href="/users/{{user.id}}/edit" class="btn btn-primary">edit</a>
  </div>
</div>