<div class="row mb-2">
  <div class="col-md-4">
    <img class="img-responsive center-block mb-3" src="{{user.image}}"
      style="width: 250px; transition: opacity 0.5s; opacity:0;" onload="this.style.opacity=1;">
  </div>
  <div class="col-md-8">
    <ul class="list-unstyled">
      <li>
        <h5><strong>{{user.name}}</strong></h5>
      </li>
      <p></p>
      <li>{{user.email}}</li>
    </ul>
    <button type="button" class="btn btn-primary">
      <a class="btn btn-primary" href="/users/{{user.id}}/edit">
        Edit
      </a>
    </button>
  </div>
</div>