<div class="card mb-3">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="{{targetUser.image}}" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{targetUser.name}}</h5>
        <p class="card-text">{{targetUser.email}}</p>
        {{#ifCond targetUser.id user.id}}
          <a class="btn btn-primary" href="/users/{{user.id}}/edit">edit</a>
        {{/ifCond}}
      </div>
    </div>
  </div>
</div>