<div class="container-md">
  <div class="card mb-5">
    <div class="card-body row">
      <div class="col-md-4">
        <img
          class="card-img-top img-fluid"
          src="{{user.image}}"
          alt="Card image cap"
          width="286px"
          height="180px"
          style="transition: opacity 0.5s; opacity:0;"
          onload="this.style.opacity=1;"
        />
      </div>
      <div class="col-md-8">
        <h5>{{user.name}}</h5>
        <p>{{user.email}}</p>
        <a href="/users/{{user.id}}/edit"><button
            class="nav-item btn btn-primary"
          >Edit</button></a>
        <a
          class="btn btn-outline-secondary"
          href="javascript:history.back()"
        >Back</a>
      </div>
    </div>
  </div>
</div>