<h1>Profile</h1>
<div class='card mb-3'>
  <div class='row'>
    <div class='col-md-2'>
      <img class="card-img-top img-fluid" src="{{user.image}}" alt="profile image" width="286px" height="180px"
            style="transition: opacity 0.5s; opacity:0;" onload="this.style.opacity=1;">
    </div>

    <div class='col-md-8'>
      <div class='card-body'>
        <h5 class='card-title'>{{user.name}}</h5>
        <p class='card-text'>{{user.email}}</p>
        <a class="btn btn-outline-secondary" href="/users/{{user.id}}/edit">Edit</a>
      </div>
    </div>
  </div>
</div> 
